# Lab Assignment 1

___Members: ___ Hongning Yu,Hui Jiang, Hao Pan

## 1. Business Understanding

The dataset we choose is a IBM HR Analytics Employee Attrition & Performance dataset, which help us to predict the attrition of employees. It is free to download and use from Kaggle.

The main purpose of using this dataset as our data source using for Lab1 is that as graduate students we barely know about what companies need from their employees, and from the employees perspective, that we may become after graduation, what attributs make employees decide to stay in their position or what make them leave.

This data is valuable and important not only because it helps lots of companies predict the attrition of their employees but also gives a outline of how we make the decision to leave, or stay.

By visualizing all the attributes, we can obtain plenty of relationships among those features and figure out the information we need. And base on those relationships, we can pretty much make a prediction.

About the accurcy of our prediction, we assume that if the accurcy of our prediction is about 80%, it is a good model. There are many methods to evaluate our model and we think the accurcy is our main concern, but we may also use other evaluation function to make sure our model is good to use.

Data Source:https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset

## 2. Data Understanding

In [ ]:
import pandas as pd
import seaborn 
import numpy as np
pd.set_option('display.max_columns', None)

df = pd.read_csv("./data.csv")
df.head()

From the original dataset description, features below are ordinal and have such meanings:


Education:  1 'Below College' 2 'College' 3 'Bachelor' 4 'Master' 5 'Doctor'

EnvironmentSatisfaction: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'

JobInvolvement: 
1 'Low' 2 'Medium' 3 'High' 4 'Very High'

JobSatisfaction: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'

PerformanceRating: 
1 'Low' 2 'Good' 3 'Excellent' 4 'Outstanding'

RelationshipSatisfaction: 
1 'Low' 2 'Medium' 3 'High' 4 'Very High'
### 2.1  Features and Data types

In [ ]:
# show data type
df.info()

There are 1470 entries and 34 features in total, since we treat attrition as our label. Also there seems no null values in this dataset. 

To varify this, let's check:

In [ ]:
df.isnull().sum()

It looks like the dataset don't have any NaN values. That's good.

In [ ]:
df.describe()

Since we have 34 attributes in total, we just choose a subset of those attributes and add a descrption on it.

In [56]:
data_des = pd.DataFrame()
data_des['Features'] = df.columns[4:15]
data_des['Description'] = ['Department in which they work for', 'Distance from their home to company',
                           'Education level', 'Fields of education',
                           'Employee Count', 'Employee Number',
                           'Satisfaction level about their environment', 'Gender',
                           'Wage per hour', 'Involvement level of their jobs',
                           'Job level'
                          ]
data_des['Discrete\Continuous'] = ['Discrete']*8 + ['Continuous'] + ['Discrete']*2
data_des['Scales'] = ['nominal']*2 + ['ordinal'] + ['nominal']*3 + ['ordinal'] + ['nominal']*2 + ['ordinal']*2
data_des['Range'] = ['Sales,Research & Development,Human Resources','1-29',
                     '1:Below College 2:College 3:Bachelor 4:Master 5:Doctor',
                     'Life Sciences, Other, Medical, Marketing, Technical Degree, Human Resources',
                     '1','1-2068','1:Low 2:Medium 3:High 4:Very High','Female,Male','30-100',
                     '1:Low 2:Medium 3:High 4:Very High','1-5'
                    ]
data_des

,Features,Description,Discrete\Continuous,Scales,Range
0,Department,Department in which they work for,Discrete,nominal,"Sales,Research & Development,Human Resources"
1,DistanceFromHome,Distance from their home to company,Discrete,nominal,1-29
2,Education,Education level,Discrete,ordinal,1:Below College 2:College 3:Bachelor 4:Master ...
3,EducationField,Fields of education,Discrete,nominal,"Life Sciences, Other, Medical, Marketing, Tech..."
4,EmployeeCount,Employee Count,Discrete,nominal,1
5,EmployeeNumber,Employee Number,Discrete,nominal,1-2068
6,EnvironmentSatisfaction,Satisfaction level about their environment,Discrete,ordinal,1:Low 2:Medium 3:High 4:Very High
7,Gender,Gender,Discrete,nominal,"Female,Male"
8,HourlyRate,Wage per hour,Continuous,nominal,30-100
9,JobInvolvement,Involvement level of their jobs,Discrete,ordinal,1:Low 2:Medium 3:High 4:Very High
10,JobLevel,Job level,Discrete,ordinal,1-5

### 2.2 Data quality

First let's see the unique values of all object features

In [ ]:
obj_list = df.select_dtypes(include=['object']).columns.tolist()
for col in obj_list:
    print('{}: \n{}\n'.format(col, df[col].unique()))

BusinessTravel, Attrition and OverTime can be considered as ordinal. So encode them to numbers.


Also, df.Over18 has only one value 'Yes'. So drop this feature.

In [ ]:
df.BusinessTravel.replace(to_replace=['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], 
                          value=[1, 2, 0], 
                          inplace=True)

df.Attrition.replace(to_replace=['Yes', 'No'], value=[1, 0], inplace=True)

df.OverTime.replace(to_replace=['Yes', 'No'], value=[1, 0], inplace=True)

if 'Over18' in df:
    df.drop('Over18', axis=1, inplace=True)

Let's also check numerical features:

In [ ]:
df_temp = df.select_dtypes(exclude=['object'])
df_temp.max() - df_temp.min()

Looks like 'EmployeeCount' and 'StandardHours' each has only one value. If so, just drop these columns.

In [ ]:
print(df.EmployeeCount.unique())
print(df.StandardHours.unique())

In [ ]:
if 'EmployeeCount' in df:
    df.drop('EmployeeCount', axis=1, inplace=True)
if 'StandardHours' in df:
    df.drop('StandardHours', axis=1, inplace=True)

## 3. Data Visualization

### 3.1 Feature Exploring

In [ ]:
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
warnings.simplefilter('ignore', DeprecationWarning)
%matplotlib inline

Let's plot the overall distribution of attributes. Feature of dtype object will be explored later.

In [ ]:
df.hist(figsize=(13,16))

#### 3.1.1 Department

In [ ]:
# Total attrition rate
print("Total attrition rate: {}".format(df.Attrition.sum()/df.Attrition.count()*100))
print('---------------------------------------')

# group by Department and count attrition rate
print("Value counts of departments:")
print(df.Department.value_counts())
print('---------------------------------------')

df_group_department = df.groupby(by='Department')

print(df_group_department.Attrition.sum()/df_group_department.Attrition.count())

In [ ]:
# plot attrition rate of different departments
plt.style.use('ggplot')
attrition_rate = df_group_department.Attrition.sum()/df_group_department.Attrition.count()
ax = attrition_rate.plot(kind='barh', figsize=(6,6))
plt.title("Attrition Rate of different departments")

In [ ]:
# showing total amount and percentage in one plot
ct_department = pd.crosstab([df['Department']],df.Attrition.astype(bool))
print(ct_department)
ct_department.plot(kind='bar', stacked=True)

ct_department_rate = ct_department.div(ct_department.sum(axis=1).astype(float), axis=0)
ct_department_rate.plot(kind='barh', stacked=True)

We can see that Research&Development has the lowest attrition rate, around 0.14. Human Resources and Sales have similar attrition rate, around 0.20.
#### 3.1.2 Distance

In [ ]:
ct_distance = pd.crosstab([df['DistanceFromHome']],df.Attrition.astype(bool))
ct_distance.plot(kind='bar', 
                 stacked=True, 
                 figsize=(10,8))

ct_distance_rate = ct_distance.div(ct_distance.sum(axis=1).astype(float), axis=0)
ct_distance_rate.plot(kind='barh', 
                      stacked=True, 
                      figsize=(10,8))

Though most people live within 10 miles from work place, there is no clear pattern we can see from the histogram. Looks like DistanceFromHome is not a very good indicator or reason whether poeple leave a company.

#### 3.1.3 Education

In [ ]:
ct_education = pd.crosstab([df['Education']],df.Attrition.astype(bool)).apply(lambda r: r/r.sum(), axis=1)
print(ct_education)
ct_education.plot(kind='bar', 
                 stacked=True, 
                 figsize=(10,8))

ct_education_rate = ct_education.div(ct_education.sum(axis=1).astype(float), axis=0)
ct_education_rate.plot(kind='barh', 
                      stacked=True, 
                      figsize=(10,8))

Looks like there is some correlation between education level and attrition rate. People with lower education have a slightly higher rate of attrition, from 0.10 at level 5 to 0.18 at level 1.
#### 3.1.5 Gender and EducationField

In [ ]:
ct_educationfield = pd.crosstab([df['EducationField'], df['Gender']],df.Attrition.astype(bool)).apply(lambda r: r/r.sum(), axis=1)
print(ct_educationfield)
ct_educationfield.plot(kind='bar', 
                 stacked=True, 
                 figsize=(10,8))

ct_educationfield_rate = ct_educationfield.div(ct_educationfield.sum(axis=1).astype(float), axis=0)
ct_educationfield_rate.plot(kind='barh', 
                      stacked=True, 
                      figsize=(10,8))

We can see that females within Human Resources have the highest attrition rate, about 0.375, next are males in Technical, at around 0.27.
#### 3.1.6 Gender and Department

In [ ]:
ct_gender = pd.crosstab([df['Department'], df['Gender']], df.Attrition.astype(bool))
print(ct_gender)
ct_gender.plot(kind='bar', 
               stacked=True)

ct_gender_rate = ct_gender.div(ct_gender.sum(axis=1).astype(float), axis=0)
ct_gender_rate.plot(kind='barh', 
                    stacked=True)

Just like Gender vs. Education Field, females in human resources department have the highest attrition rate, but this time males in sale come in next. 

Also, it looks like females in research/development have the highest loyalty.

#### 3.1.6 YearsAtCompany vs. DepartmentÔºèAge vs. Attrition

In [ ]:
sns.distplot(df.YearsAtCompany)

f, ax = plt.subplots(figsize=(9, 9))

sns.violinplot(x="Department", y="YearsAtCompany", hue="Attrition", data=df, 
               split=True, inner="quart")

f, ax = plt.subplots(figsize=(9, 9))
sns.violinplot(x="Gender", y="YearsAtCompany", hue="Attrition", data=df, 
               split=True, inner="quart")

As we can see, employees in three department have similar YearsAtCompany distribution(a skewed Gaussian distribution). It looks like people tent to leave company in their early years, mostly under 10 years.
Also, YearsAtCompany distribution among Gender are similar, and show the same tendency to leave early.

## Cut YearsInCompany and wage

### 3.2 Relationship Exploring

## can do some heat map stuff by column/row
## violin plot

## 4. Extra